:root {
    --clr-bg: #f6f4f1;
    --clr-bg-2: #faf9f7;
    --clr-bg-code: #ffffff;
    --clr-text: #1c1c1c;

    --clr-primary: #8de194;
    --clr-primary-2: #29802f;
    --clr-accent: #7807e1;
    --clr-accent-2: #7f02f3;
    --clr-invert: #f3a93e;
    --clr-invert-2: #f5bf73;


    font-size: 16px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-bg: #1b1321;
        --clr-bg-2: #2e2634;
        --clr-bg-code: #000000;
        --clr-text: #e9f5eb;

        --clr-primary: #8de194;
        --clr-primary-2: #c0eac4;
        --clr-accent: #f3a93e;
        --clr-accent-2: #f5bf73;
        --clr-invert: #7807e1;
        --clr-invert-2: #7f02f3;
    }
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;

    margin: auto;
    width: calc(100% - 4ch);
    max-width: 80ch;
    

    background-color: var(--clr-bg);
    color: var(--clr-text);
}

pre {
    position: relative;

    padding: 1em 2ch;
    background-color: var(--clr-bg-code);

    /*border: 1px solid var(--clr-primary);*/
    border-radius: 1em;

    font-family: Menlo, Consolas, Monaco, Adwaita Mono, Liberation Mono, Lucida Console, monospace;
    font-size: .9em;

    z-index: 2;
    
    overflow: auto;
}

header {
    display: flex;
    flex-direction: row;
    
    margin-top: 2em;
}

nav {
    display: flex;
    flex-direction: row;

    align-items: flex-end;

    margin-left: 2ch;
}

nav a {
    padding: .5em 1ch;
    border-radius: .5em;
    
    margin: 0 .5ch;
    
    text-decoration: none;
}

nav a.selected {
    background-color: var(--clr-accent);
    color: var(--clr-bg);
}

header hgroup {
    position: relative;
    
    padding: 0 2ch;
    border-radius: 1em;
    width: fit-content;

    background-color: var(--clr-primary);
    color: var(--clr-accent-2);
    
    overflow: hidden;

    & h1 {
        margin: .2em 0;
    }

    & p {
        margin-top: .2em;
    }

    & h1, p {
        color: black;
    }
}

header hgroup > a {
    position: absolute;
    inset: 0;
}

header hgroup::before {
    content: '(';
    font-size: 6rem;
    position: absolute;
    z-index: 0;

    bottom: -32px;
    right: 2px;

    color: var(--clr-invert);
    opacity: .2;
}

a, a:visited {
    color: var(--clr-accent);
}

a:hover, a:active {
    color: var(--clr-accent-2);
}

article {
    position: relative;

    margin-top: 1em;
    padding: .2em 2ch;
    background-color: var(--clr-bg-2);

    border-radius: 1em;

    overflow: hidden;
}

article:before {
    content: '(';
    font-size: 12rem;
    position: absolute;
    z-index: 0;

    top: -80px;
    left: -8px;

    color: var(--clr-accent);
    opacity: .1;
}

article:after {
    content: ')';
    font-size: 12rem;
    position: absolute;
    z-index: 0;

    bottom: -8px;
    right: -8px;

    color: var(--clr-accent);
    opacity: .1;
    
}

article *:nth-child(1) {
    margin-top: .4em;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--clr-primary-2);
}
