:root {
    --clr-bg: #eee8e0;
    --clr-bg-2: #faf8f5;
    --clr-bg-code: #ffffff;
    --clr-text: #1c1c1c;

    --clr-primary: #9bdf4a;
    --clr-primary-2: #2c4f04;
    --clr-accent: #9122e6;
    --clr-accent-2: #230a34;
    --clr-invert: #e67922;
    --clr-invert-2: #ebcf90;

    --bg: linear-gradient(180deg, #f5f3f1 0%, #efdec8 66%, #eab07d 100%);

    font-size: 16px;
}

html {
    height: 100%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-bg: #231e29;
        --clr-bg-2: #322b38;
        --clr-bg-code: #000000;
        --clr-text: #e9f5eb;

        --clr-primary: #2c4f04;
        --clr-primary-2: #9bdf4a;
        --clr-accent: #e67922;
        --clr-accent-2: #ebcf90;
        --clr-invert: #230a34;
        --clr-invert-2: #9122e6;

        --bg: linear-gradient(180deg, rgba(35, 30, 41, 1) 0%, rgba(24, 19, 28, 1) 66%, rgb(18, 14, 23) 100%);
    }
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;

    margin: 0;

    background: var(--bg);
    color: var(--clr-text);
}

pre {
    position: relative;

    padding: 1em 2ch;
    background-color: var(--clr-bg-code);

    /*border: 1px solid var(--clr-primary);*/
    border-radius: 1em;

    font-family: Menlo, Consolas, Monaco, Adwaita Mono, Liberation Mono, Lucida Console, monospace;
    font-size: .9em;

    z-index: 2;

    overflow: auto;
}

header {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;

    width: calc(100% - 4ch);
    max-width: 100ch;

    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    flex-direction: row;

    align-items: flex-end;

    margin-left: 2ch;
}

nav a {
    padding: .5em 1ch;
    border-radius: .5em;

    margin: 0 .5ch;

    text-decoration: none;
}

nav a.selected {
    background-color: var(--clr-accent);
    color: var(--clr-bg);
}

header hgroup {
    position: relative;

    padding: 0 2ch;
    border-radius: 1em;
    width: fit-content;

    background-color: var(--clr-primary);
    color: var(--clr-accent-2);

    overflow: hidden;

    & h1 {
        margin: .2em 0;
    }

    & p {
        margin-top: .2em;
    }

    & h1, p {
        color: black;
    }
}

header hgroup > a {
    position: absolute;
    inset: 0;
}

header hgroup::before {
    content: '(';
    font-size: 6rem;
    position: absolute;
    z-index: 0;

    bottom: -32px;
    right: 2px;

    color: var(--clr-invert);
    opacity: .2;
}

a, a:visited {
    color: var(--clr-accent);
}

a:hover, a:active {
    color: var(--clr-accent-2);
}


main {
    margin: auto;
    width: calc(100% - 4ch);
    max-width: 80ch;

    overflow: auto;
}

article {
    position: relative;

    margin-top: 1em;
    padding: .2em 2ch;
    background-color: var(--clr-bg-2);

    border-radius: 1em;

    overflow: hidden;
}

article:before {
    content: '(';
    font-size: 12rem;
    position: absolute;
    z-index: 0;

    top: -80px;
    left: -8px;

    color: var(--clr-accent);
    opacity: .1;
}

article:after {
    content: ')';
    font-size: 12rem;
    position: absolute;
    z-index: 0;

    bottom: -8px;
    right: -8px;

    color: var(--clr-accent);
    opacity: .1;

}

article *:nth-child(1) {
    margin-top: .4em;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--clr-primary-2);
}
